input {
    box-sizing: border-box;
    font-size: 3vw;
    border: none;
}
.form{
    background: #d1d1d1;
    border: 2px solid #376E36;
    width: 50vw;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 0px 0 10px;
}
.codigo{
    background: none;
    flex-grow: 2;
    color: #626262;
    padding: 0px 10px;
}
.entrar{
    flex-grow: 1;
    color: #ffffff;
    background: #376E36;
    padding: 0;
    cursor: pointer;
}
input.codigo:hover{
    transform: none;
}
.entrar:hover{
    transform: none;
    background: #316130;
}