:-webkit-scrollbar-track {
    background-color: #BEBEBE;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #BEBEBE;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #808080;
}

.sala {
    width: 85%;
    height: 95%;
    background: #BEBEBE;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
    color: #6d6d6d;
    font-weight: bold;
    overflow: auto;
}

.linha {
    position: fixed;
    top: 15%;
    width: 3px;
    height: 70%;
    background: #4d4d4d;
}

.materiais {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.Video {
    display: flex;
    margin-bottom: 2%;
    align-items: center;
}

.tempo {
    color: #ffffff;
    margin-left: auto;
    margin-right: 3%;
}

.data {
    margin-left: auto;
    color: #ffffff;
}

.prova {
    align-items: center;
    margin-bottom: 2%;
    display: flex;
}

.Listaprovas {
    padding-left: 3%;
    width: 50%;
    height: auto;
    box-sizing: border-box;
}

h1 {
    font-weight: 500;
    color: #ffffff;
    cursor: default;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons input {
    cursor: pointer;
    border: none;
    margin: 1em;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    background: #376E36;
}

#prova {
    background-image: url(/assets/images/adicionar-ficheiro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3em;
}

#video {
    background-image: url(/assets/images/adicionar-video.svg);
    background-size: 30em;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-content {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #c8c8c8;
    box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin: auto;
    /* 15% from the top and centered */
    padding: 20px;
    height: 35rem;
    width: 50rem;
    /* Could be more or less, depending on screen size */
}

.modal-header {
    color: #376E36;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.modal-body input[type=text] {
    background: #d1d1d1;
    color: #626262;
    border-radius: 10px;
    padding: 3px;
    border: 2px solid #376E36;
    width: 70%;
    height: 2em;
    margin-bottom: 10px;
}

.modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.close,
.create {
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background: #376E36;
    padding: 0;
    height: 50%;
    width: 20%;
    margin: 10px;
}

.close:hover,
.create:hover,
.close:focus,
.create:focus {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.modal-header h1 {
    flex-grow: 1;
}

.add {
    height: 3em;
    width: 4em;
    cursor: pointer;
    background: #376E36;
    border: none;
    color: #ffffff;
    border-radius: 10px;
}

.questoes {
    display: flex;
    flex-grow: 1;
    width: 50%;
}

.qtdquestoes {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.questao {
    margin-right: 2px;
    border-radius: 50%;
    background: #376E36;
    height: 20px;
    width: 20px;
}

textarea {
    color: #626262;
    border: none;
    resize: none;
    background: #d1d1d1;
    border: 2px solid #376E36;
    border-radius: 10px;
    transition: 0.2s;
    margin: 10px;
    padding: 5px;
    flex-grow: 2;
}

textarea:hover {
    transform: scale(1.1);
}

.pergunta {
    display: flex;
    align-items: center;
}

.tipo {
    flex-grow: 1;
    position: relative;
    width: 40%;
    height: 50%;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10px;
}

.tipo:hover .dropdown {
    display: flex;
}

.tipo button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    color: #ffffff;
    background: #376E36;
    border: none;
}

.dropdown {
    position: absolute;
    z-index: 2;
    display: none;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.dropdown input {
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.dropdown input:hover {
    transform: none;
    text-transform: uppercase;
}

input[type="checkbox"] {
    margin-right: 50px;
}

.alternativa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}