<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link rel="stylesheet" href="/css/all.css">
    <script defer src="/js/cadastro.js"></script>
</head>
<body>
    <header class="top">
        <a href="/">
        <input type="image" src="/assets/images/logo.svg">
        </a>
        <input type="image" src="/assets/images/user.svg">
    </header>
    <main>
        <div class="login">
            <h1>CADASTRO</h1>
            <div class="dados" id="dados">
                <input id="name" type="text" placeholder="Nome" class="preencher">
                <input id="email" type="email" placeholder="E-mail" class="preencher">
                <input id="password" type="password" placeholder="Senha" class="preencher">
                <div>
                    <p class="teacher">Professor</p><input type="checkbox" class="check" id="professor-check">
                </div>
            </div>
            <div class="buttons">
                <input id="back" type="button" value="Voltar">
                <input id="register" type="button" value="Cadastrar">
            </div>
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>