<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/codigo_turma.css">
    <link rel="stylesheet" href="/css/all.css">
    <script defer src="/js/codigo_turma.js"></script>

</head>

<body>
    <header class="top">
        <a href="/">
        <input type="image" src="/assets/images/logo.svg">
        </a>
        <a id="login-exit-button" href="/login" class="{{{login_status}}}">

        </a>
    </header>
    <main>
        <div class="form">
            <input type="text" placeholder="Código da turma" class="codigo">
            <input type="button" class="entrar" value="Entrar">
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
    {{!-- <script defer >document.querySelector('input.entrar').addEventListener('click', ()=>{console.log("ewerhgawesh")}) </script> --}}

</html>