<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/logado_aluno.css">
    <link rel="stylesheet" href="/css/all.css">
    <script defer src="/js/logout.js"></script>

</head>
<body>
    <header class="top">
        <a href="/">
            <input type="image" src="/assets/images/logo.svg">
        </a>        <h1>BEM VINDO MATHEUS!</h1>
            <input class="logout" type="image" src="/assets/images/logout.svg">
    </header>
    <main>
        <div class="listaSalas">

        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>