<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/logado_professor.css">
    <link rel="stylesheet" href="/css/all.css">
    <script defer src="/js/logout.js"></script>
    <script defer src="/js/cadastro_turma.js">
    
    </script>
</head>
<body>
    <header class="top">
        <a href="/">
        <input type="image" src="/assets/images/logo.svg">
        </a>
        <h1>BEM VINDO {{username}}!</h1>      
        <input class="logout" type="image" src="/assets/images/logout.svg">
    </header>
    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Criar Sala</h1>
            </div>
            <div class="modal-body">
                <input type="text" placeholder="Disciplina" id="nome">
                <input type="text" placeholder="Turma" id="turma">
            </div>
            <div class="modal-footer">
                <input class="create" type="button" value="Criar">
                <input class="close" type="button" value="Cancelar">
            </div>
        </div>
      
      </div>
    
      <main>
        <div class="listaSalas">
            {{#each classList}}
                <div code={{codigo}} class="sala">
                    <button class="go">
                        <div class="nome">
                            {{disciplina}}
                        </div>
                        <div  class="professor">
                            {{turma}}
                        </div>
                    </button>
                </div>
            {{/each}}

            {{!--<div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div>
            <div class="sala">
                <button class="go">
                    <div class="nome">
                        P.I.
                    </div>
                    <div class="professor">
                        Fábio
                    </div>
                </button>
            </div> --}}
            <div class="button">
                <input id="sala" type="button">
            </div>
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>