<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/logado_aluno.css">
    <link rel="stylesheet" href="/css/all.css">
    <script defer src="/js/logado_aluno.js"></script>
</head>
<body>
    <header class="top">
        <input type="image" src="/assets/images/logo.svg">
        <h1>BEM VINDO {{aluno}}!</h1>
        <a href="/">
            <input class="logout" type="image" src="/assets/images/logout.svg">
        </a>
    </header>
    <main>
        <div class="listaSalas">
            {{!-- {{#if isShow}} --}}
            {{#each classList}}            
                <div code={{codigo}} class="sala">
                    <button class="go">
                        <div class="nome">
                            {{disciplina}}
                        </div>
                        <div class="professor">
                            {{turma}}
                        </div>
                    </button>
                </div>
            {{/each}}
            {{!-- {{/if}} --}}

        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>