<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/prova.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
    <header class="top">
        <input type="image" src="/imagens/logo.svg">
        <input class="logout" type="image" src="/imagens/logout.svg">
    </header>
    <main>
        <input type="button" value="Enviar" class="finish">

        <div class="prova">
            <h1>Nome Prova</h1>
            <div class="questao alternativa">
                <div class="pergunta">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto doloribus dasdjasudiuah iuhiuvn uia s dnf jdnfida</h3>
                </div>
                <div class="alternativas">
                    <div class="alternativa">
                        <input type="checkbox" id="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aut, autem quis animi perferendis</p>
                    </div>
                    <div class="alternativa">
                        <input type="checkbox" id="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aut, autem quis animi perferendis</p>
                    </div>
                    <div class="alternativa">
                        <input type="checkbox" id="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aut, autem quis animi perferendis</p>
                    </div>
                    <div class="alternativa">
                        <input type="checkbox" id="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aut, autem quis animi perferendis</p>
                    </div>
                </div>
            </div>
            <div class="questao resposta">
                <div class="pergunta">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto doloribus dasdjasudiuah iuhiuvn uia s dnf jdnfida</h3>
                </div>
                <div class="texto">
                    <textarea placeholder="Digite sua resposta"></textarea>
                </div>
            </div>
            <div class="questao resposta">
                <div class="pergunta">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto doloribus dasdjasudiuah iuhiuvn uia s dnf jdnfida</h3>
                </div>
                <div class="texto">
                    <textarea placeholder="Digite sua resposta"></textarea>
                </div>
            </div>
            <div class="questao resposta">
                <div class="pergunta">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto doloribus dasdjasudiuah iuhiuvn uia s dnf jdnfida</h3>
                </div>
                <div class="texto">
                    <textarea placeholder="Digite sua resposta"></textarea>
                </div>
            </div>
            <div class="questao resposta">
                <div class="pergunta">
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iusto doloribus dasdjasudiuah iuhiuvn uia s dnf jdnfida</h3>
                </div>
                <div class="texto">
                    <textarea placeholder="Digite sua resposta"></textarea>
                </div>
            </div>
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>