<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/prova.css">
    <link rel="stylesheet" href="/css/all.css">
    <script defer src="/js/logout.js"></script>
</head>
<body>
    <header class="top">
        <a href="/">
        <input type="image" src="/assets/images/logo.svg">
        </a>
        <input class="logout" type="image" src="/assets/images/logout.svg">
    </header>
    <main>
        <input type="button" value="Enviar" class="finish">

        <div class="prova">
            <h1>{{tesName}}</h1>
            {{#each questionList}}
            <div class="questao alternativa">
                <div class="pergunta">
                    <h3>{{question}}</h3>
                </div>
                <div class="alternativas">
                    {{#each alternatives}}
                    
                    <div class="alternativa">
                        <input type="checkbox" class="switchs">
                        <p>{{this}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
            
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>