<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <title>OnClass</title>
    <link rel="stylesheet" href="/css/sala_aluno.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>
    <header class="top">
        <input type="image" src="/assets/images/logo.svg">
        <h1>SALA DE P.I.</h1>
        <a href="/">
            <input class="logout" type="image" src="/assets/images/logout.svg">
        </a>
    </header>
    <main>
        <div class="sala">
            <div class="materiais">
                <div class="Video">
                    <div class="nome">
                        Video aula sobre como fazer um documento
                    </div>
                    <div class="tempo">
                        1:54:02
                    </div>
                </div>
                <div class="Video">
                    <div class="nome">
                        Video aula sobre como fazer um documento
                    </div>
                    <div class="tempo">
                        1:54:02
                    </div>
                </div>
                <div class="Video">
                    <div class="nome">
                        Video aula sobre como fazer um html basico com css php e javascript
                    </div>
                    <div class="tempo">
                        1:54:02
                    </div>
                </div>
                <div class="Video">
                    <div class="nome">
                        Video aula sobre como fazer um html basico com css php e javascript
                    </div>
                    <div class="tempo">
                        1:54:02
                    </div>
                </div>
            </div>
            <div class="linha"></div>
            <div class="Listaprovas">
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
                <div class="prova">
                    <div class="nome">
                        HTML conhecimentos básicos
                    </div>
                    <div class="data">
                        13/12/2020
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bottom">
        <p class="text"> Criado por Matheus Simão Schmidt</p>
    </footer>
</body>
</html>